body {
    background-color: #101b26;
    color: #f3f3f3;
    font-family: monospace;
}

/* How to do navbar and style from:
https://www.w3schools.com/css/css_navbar_horizontal.asp */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar_item {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 12px;
}

.navbar_item:hover {
    background-color: #162b3f;
}

.main {
    padding: 2%;
}

img {
    /* How to do width in a way I like from:
    https://stackoverflow.com/a/17183996 */
    border-radius: 16px;
    max-width: 400px;
    max-height: 600px;
    width: auto;
    height: auto;
}

a {
    color: #f3f3f3;
}

.movie_tagline, .movie_genres {
    font-style: italic;
}

.login_field {
    width: auto;
    padding: 6px 8px;
    border-radius: 4px;

}

.login_submit {
    background-color: white;
    border: none;
    width: auto;
    padding: 6px 8px;
    border-radius: 4px;
}

.login {
    padding: 2%;
}

input {
    font-family: monospace;
    font-size: medium;
}