<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <ul class="navbar">
        <li><a class="navbar_item" href="{{ url_for('logout')}}">logout</a></li>
        <li><a class="navbar_item username" href="">{{username}}</a></li>
    </ul>
    <div class="main">
        <p>
        <div class="movie_title">
            <h1>{{movie_title}} </h1>
        </div>
        <div class="movie_tagline">
            {{movie_tagline}}
        </div> <br />
        <div class="movie_description">
            {{movie_description}}
        </div> <br />
        <div class="movie_genres">
            {{", ".join(movie_genres)}} <br />
        </div> <br />
        <div class="movie_poster_img"><img src="{{movie_poster_url}}" alt="{{movie_title}}"></div>
        <div class="movie_wiki_url">
            <a href="{{movie_wiki_url}}">{{movie_wiki_url}}</a>
        </div>
        </p>
    </div>
</body>

</html>
